### Kotlin / Gradle ###
*.class
*.jar
*.war
*.ear

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.kotlin/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Specific IntelliJ configs to ignore
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/ktlint-plugin.xml

### Android Studio ###
local.properties
.cxx/

### Eclipse ###
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans/
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Others ###
*.log
*.tmp
*.swp
*.bak
*.orig

# Environment / Secrets
.env
*.keystore

# Misc project files
/food.csv
/qodana.yaml
